@import url('https://fonts.googleapis.com/css?family=Iceland|Press+Start+2P|Montserrat|Volkhov|Audiowide|Nova+Flat');

* {
  margin: 0;
  padding: 0;
  outline: none;
   }

/* html { overflow-y: hidden; } */

body {
  background-color: #070707;
  color: #E3E3E3;
  background: url("../../../../Pictures/nebulablue.jpg") top right no-repeat ;
  background-attachment: fixed;
  background-size:100%;

}

a {
  text-decoration: none;
  color: #E3E3E3;
  outline:none;
}
a, a:focus, a:active {
  outline: none !important;
  border: none;
}

blockquote {
  color: #E3E3E3;
  font-size: 1.7rem;
}

.blogposts:nth-child(n+1) {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
  padding: 4rem 6rem;
  margin: 5rem 23% 0;
}


.contentAll {
  margin: 0;
  margin-top: -2rem;
  padding: 10rem;
  width: 200%;
  min-height: 47.6rem;
  display: block;
  position: relative;
  right: 50%;
  padding-bottom: 2rem;
  background-color: #070707;
  color: #E3E3E3;
  position: relative;
  display: block;
}

.content-background {
  background-color: #070707;
  width: 100%;
  height: 100%;
}

.content-foot {
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: initial;
  background-color: #070707;
  padding-top: 2rem;
}
.content-foot li {
  list-style-type: none;
}


.previous {
  position: relative;
  left: 15rem;
}
.next {
  position: relative;
  right: 15rem;
}
.blogposts a div {
  background-color: #070707;
  border: 0.18rem solid #111;
  border-radius: 20px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 3rem;
  z-index: 100;
  /* text-align: center; */

  /* border-left: 0.2rem solid #F2F2F2; */
}

.blogposts a:first-child {
  margin-top: 11rem;
}
 
.blogposts a div:hover {
  background-color: #000000;
  color: #E3E3E3;
  border: 0.18rem solid #070707;
  position: relative;
  right: 0.1rem;
  top: 0.1rem;
  box-shadow: -0.2rem 0.1rem #070707;
}


.date {
  position: relative;
  float: right;
  top: 0.6rem;
  left: 1.3rem;
  color: #333333;
}


.postTitle {
  /* font-family: 'Press Start 2P'; */
  /* font-family: 'Iceland'; */
  /* font-family: 'Press Start 2P'; */
    font-family: 'Volkhov';

  letter-spacing: 0.2vw;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  width: 50%;
  margin: 1.5rem auto;
  padding: 0.5rem;
  border-bottom: 0.1rem solid #F2F2F2;
  transform: scale(1, .95);
}

.contentTitle {
  /* font-family: 'Press Start 2P'; */
  font-family: 'Volkhov';
  margin-top: -4rem;
  margin-bottom: 2.5rem;
  /* color: red; */

  letter-spacing: 0.3vw;
  text-transform: uppercase;
  font-size: 2rem;
  transform: scale(1, .92);
}
.contentDate {
  margin-top: 1rem;
  display:block;
}
.contentPost {
  font-size: 1.3rem;
  font-family: "Volkhov";
  background-color: #070707;
}
.postContent {
  font-size: 1.2rem;
  font-size: 1rem;
  font-family: "Volkhov";
}

.postContent:first-letter {
  margin-left: 4rem;
}
.contentPost > p:first-child:first-letter {
  margin-left: 1rem;
  padding-right: 0.4rem;
  font-size: 6rem;
  display: inline-block;
  float: left;
  color: white;

}


 h1 {
  font-family: 'Volkhov';
  font-size: 2rem;

  letter-spacing: 0.4vw;
  text-transform: uppercase;
  transform: scale(1, .92);
}

 h2 {
  font-family: 'Volkhov';
  font-size: 1.6rem;

  letter-spacing: 0.1vw;
  text-transform: uppercase;
  transform: scale(1, .92);
}

 h3 {
  font-family: 'Volkhov';
  font-size: 1.3rem;

  letter-spacing: 0.1vw;
  text-transform: uppercase;
  transform: scale(1, .92);
}

 h4 {
  font-family: 'Volkhov';
  font-size: 1.1rem;
  font-weight: bold;

  letter-spacing: 0.1vw;
  text-transform: uppercase;
  transform: scale(1, .92);
}


 h5 {
  font-family: 'Volkhov';
  font-size: 1rem;

  letter-spacing: 0.1vw;
  text-transform: uppercase;
  transform: scale(1, .92);
}
/* .menu { */
 h6 {
  font-family: 'Volkhov';
  font-size: 1rem;

  letter-spacing: 0.1vw;
  text-transform: uppercase;
  transform: scale(1, .92);
}
/*   border: 2px solid red; */
/*   position: fixed; */
/*   z-index: 0; */
/*   /1* background-color: magenta; *1/ */
/*   width: 100%; */
/*   display: flex; */
/*   justify-content: center; */
/*   top: 23rem; */
/*   outline:none; */
/* } */
.topback {
    position: fixed;
    width: 100%;
    top: 7.4rem;
    z-index: 999;
}
.title:after {
    /* font-family: 'Press Start 2P'; */
  display: block;
    font-family: 'Volkhov';
    transform: scale(1, .95);
    font-size: 2.3vw;
    letter-spacing: 1.1vw;
    font-weight: 100;
    /* font-family: 'Audiowide'; */
    /* font-family:'Libre Baskerville'; */
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    position: fixed;
    top: 2rem;
    height: 5.65rem;
    /* background-color: #070707; */
    border-bottom: 0.19rem solid #F2F2F2;

    z-index: 998;
    width: 50%;
    /* text-transform: lowercase; */
    color: #070707;
    /* color: rgba(0, 0, 0, 0.1); */
    color: #E3E3E3;
    outline: none;
  visibility: visible;
  content: "ABSTRACTION";
  cursor: pointer;
}
.title{
  visibility: hidden;
}

.title:hover {
  /* color: #fff; */
  /* transform: scale(1, .95); */
    /* padding-top: 2.08rem; */
}

.tags {
  display: inline;
  color: #444;
  font-size: 1rem;
  text-transform: lowercase;
  position: relative;
  bottom: 3rem;
  left: 13rem;
}

.category {
  display: inline;
  font-family: "Iceland";
  font-size: 1rem;
  color: #444;
  position: relative;
  top: 1rem;
  right: 1rem;
  transition-property: transform;
  transition: 0.35s ease;
}

.buttons {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.theory {
  margin-left: 10%;
  position: fixed;
  top: 24rem;
  text-decoration: none;
  border: none;
  background: none;
  font-family: 'Iceland';
  font-size: 2.3rem;
  outline: none !important;
}

.praxis {
  position: fixed;
  top: 24rem;
  right: 10%;
  text-decoration: none;
  border: none;
  background: none;
  font-family: 'Iceland';
  font-size: 2.3rem;
  border-radius: 20px;
  outline: none !important;
}
/* separate div for the text then only move text on hover */
.praxis {
  padding: 0;
  width: auto;
  text-align: center;
  transition-property: transform;
  transition: 0.35s ease;
}
.praxis::after {
  content: '';
  border-top: 4px solid #E3E3E3;

  border-radius: 1px;
  width: 100%;
  position: absolute;
  display: block;
  transform: rotateY(90deg);
  transition-property: transform;
  transition: 0.25s linear;
}
.praxis:hover {
  transform: scale(1.15);
  cursor: pointer;
}
.praxis:hover::after {
  transform: rotate(0deg);
}
.praxis {
  transform-origin: left 50%;
}
.praxis::after {
  transform-origin: left 2px;
}

.theory {
  padding: 0;
  width: auto;
  text-align: center;
  transition-property: transform;
  transition: 0.35s ease;
}
.theory::after {
  content: '';
  border-top: 4px solid #E3E3E3;

  border-radius: 1px;
  width: 100%;
  position: absolute;
  display: block;
  transform: rotateY(90deg);
  transition-property: transform;
  transition: 0.25s linear;
}
.theory:hover {
  transform: scale(1.15);
  cursor: pointer;
}
.theory:hover::after {
  transform: rotate(0deg);
}
.theory {
  transform-origin: left 50%;
}
.theory::after {
  transform-origin: left 2px;
}


.gradient-border {
  --borderWidth: 2px;
  /* background: #1D1F20; */
  /* position: relative; */
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 10s ease alternate infinite;
          animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
}


@-webkit-keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/**
 * code syntax
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  overflow: initial;
  border: none;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}
.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em; /* 3 */
}

.topbackground {
  display:block;
  width: 100%;
  position: fixed;
  background-color: #070707;
  z-index: 197;
  height: 7.5rem;
  top: 0;

}
.fader {
  display:block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -22;
  top: 0;
/* background: -moz-linear-gradient(top, rgba(7,7,7,1) 0%, rgba(7,7,7,1) 12%, rgba(7,7,7,1) 25%, rgba(7,7,7,1) 32%, rgba(7,7,7,0.92) 39%, rgba(7,7,7,0.8) 50%, rgba(7,7,7,0.69) 60%, rgba(7,7,7,0.52) 76%, rgba(7,7,7,0.51) 77%, rgba(7,7,7,0.02) 91%, rgba(7,7,7,0.02) 100%); */
/* background: -webkit-linear-gradient(top, rgba(7,7,7,1) 0%,rgba(7,7,7,1) 12%,rgba(7,7,7,1) 25%,rgba(7,7,7,1) 32%,rgba(7,7,7,0.92) 39%,rgba(7,7,7,0.8) 50%,rgba(7,7,7,0.69) 60%,rgba(7,7,7,0.52) 76%,rgba(7,7,7,0.51) 77%,rgba(7,7,7,0.02) 91%,rgba(7,7,7,0.02) 100%); */
/* background: linear-gradient(to bottom, rgba(7,7,7,1) 0%,rgba(7,7,7,1) 12%,rgba(7,7,7,1) 25%,rgba(7,7,7,1) 32%,rgba(7,7,7,0.92) 39%,rgba(7,7,7,0.8) 50%,rgba(7,7,7,0.69) 60%,rgba(7,7,7,0.52) 76%,rgba(7,7,7,0.51) 77%,rgba(7,7,7,0.02) 91%,rgba(7,7,7,0.02) 100%); */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070707', endColorstr='#05070707',GradientType=0 ); */
}
