@import url('https://fonts.googleapis.com/css?family=Iceland|Press+Start+2P|Montserrat|Righteous|Audiowide|Nova+Flat');

* {
  margin: 0;
  padding: 0;
   }

/* html { overflow-y: hidden; } */

body {
  background-color: #080707;
  /* background-color: purple; */
  color: #F2F2F2;
  /* background: url("../../../Pictures/spectogramstar.jpg") bottom right no-repeat ; */
  /* background-attachment:fixed; */
  background-size:100%;

}

a {
  text-decoration: none;
  color: #F2F2F2;
  outline:none;
}

blockquote {
  color: #F2F2F2;
  color: white;
  font-size: 1.7rem;
}

.blogposts:nth-child(n+1) {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
  padding: 4rem 8rem;
  /* background-color: #080707; */
  /* border-left: 0.2rem solid #F2F2F2; */
  /* border-right: 0.2rem solid #F2F2F2; */
  margin: 3rem 23% 0;
  margin-top: 12rem;
}

.blogposts a div {
  background-color: #080707;
  background-color: #000000;
  border: 0.18rem solid #000;
  border-radius: 20px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 3rem;
  /* text-align: center; */

  /* border-left: 0.2rem solid #F2F2F2; */
}

.blogposts a div:hover {
  background-color: #000000;
  color: #ffffff;
  border: 0.18rem solid #111;
  position: relative;
  right: 0.1rem;
  top: 0.1rem;
  box-shadow: -0.2rem 0.1rem #111;
}


.date {
  position: relative;
  float: right;
  top: 0.6rem;
  left: 1.3rem;
  color: #333333;
}


.postTitle {
  /* font-family: 'Press Start 2P'; */
  /* font-family: 'Iceland'; */
  /* font-family: 'Press Start 2P'; */
    font-family: 'Audiowide';

  /* text-transform: lowercase; */
  font-size: 1.2rem;
  text-align: center;
  width: 50%;
  margin: 1.5rem auto;
  padding: 0.5rem;
  border-bottom: 0.1rem solid #F2F2F2;
}

.contentTitle {
  /* font-family: 'Press Start 2P'; */
  /* font-family: 'Iceland'; */
  font-size: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contentDate {
  margin-top: 1rem;
  display:block;
}
.contentPost {
  font-size: 1.3rem;
}
.postContent {
  font-size: 1.2rem;
  font-size: 1rem;
}

/* .contentAll { */
/*   font-size: 1.5rem; */
/*   padding: 3rem; */
/*   border: 2px solid white; */
/* } */

.postContent:first-letter {
  margin-left: 4rem;
}


/* .blogposts a div:after { */
/*   content: "◤"; */
/*   font-size: 500%; */
/*   position: relative; */
/*   right: 22.5rem; */
/*   bottom: 14rem; */
/*   /1* visibility: hidden; *1/ */
/* } */

 h1 {
  font-family: 'Iceland';
  font-size: 2rem;
}

 h2 {
  font-family: 'Iceland';
  font-size: 2.5rem;
}

 h3 {
  font-family: 'Iceland';
  font-size: 2rem;
}

 h4 {
  font-family: 'Iceland';
  font-size: 1.5rem;
}

 h5 {
  font-family: 'Iceland';
  font-size: 1rem;
}

/* .menu { */
/*   border: 2px solid red; */
/*   position: fixed; */
/*   z-index: 0; */
/*   /1* background-color: magenta; *1/ */
/*   width: 100%; */
/*   display: flex; */
/*   justify-content: center; */
/*   top: 23rem; */
/*   outline:none; */
/* } */
.topback {
    position: fixed;
    top: 0;
    /* background-color: #080707; */
    width: 100%;
    top: 7.4rem;
    z-index: 999;
}
.title {
    /* font-family: 'Press Start 2P'; */
    /* font-family: 'I pixel U'; */
    font-family: 'Audiowide';
    /* font-family:'Libre Baskerville'; */
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    -webkit-text-stroke: 3px #F2F2F2;
    position: fixed;
    top: 0rem;
    padding: 2rem;
    background-color: #080707;
    /* border-bottom: 0.12rem solid #F2F2F2; */

    z-index: 998;
    width: 80%;
    /* text-transform: lowercase; */
    color: #080707;
    /* color: rgba(0, 0, 0, 0.1); */
    font-size: 2.3vw;
    letter-spacing: 1.2vw;
    font-weight: 900;
}

.title:hover {
  padding-right: 2.3rem;
  cursor: pointer;
  color: #000000;
    /* padding-top: 2.08rem; */
}

.tags {
  display: inline;
  color: #444;
  font-size: 1rem;
  text-transform: lowercase;
  position: relative;
  bottom: 3rem;
  left: 13rem;
}

.category {
  display: inline;
  font-family: "Iceland";
  font-size: 1rem;
  color: #444;
  position: relative;
  top: 1rem;
  right: 1rem;
  transition-property: transform;
  transition: 0.35s ease;
}

.buttons {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.theory {
  margin-left: 10%;
  position: fixed;
  top: 24rem;
  text-decoration: none;
  border: none;
  background: none;
  font-family: 'Iceland';
  font-size: 3rem;
  border-radius: 20px;
}

.praxis {
  position: fixed;
  top: 24rem;
  right: 10%;
  text-decoration: none;
  border: none;
  background: none;
  font-family: 'Iceland';
  font-size: 3rem;
  border-radius: 20px;
}
/* separate div for the text then only move text on hover */
.praxis {
  padding: 0;
  width: auto;
  text-align: center;
  transition-property: transform;
  transition: 0.35s ease;
}
.praxis::after {
  content: '';
  border-top: 4px solid #fff;
  border-radius: 1px;
  width: 100%;
  position: absolute;
  display: block;
  transform: rotateY(90deg);
  transition-property: transform;
  transition: 0.25s linear;
}
.praxis:hover {
  transform: scale(1.15);
  cursor: pointer;
}
.praxis:hover::after {
  transform: rotate(0deg);
}
.praxis {
  transform-origin: left 50%;
}
.praxis::after {
  transform-origin: left 2px;
}

.theory {
  padding: 0;
  width: auto;
  text-align: center;
  transition-property: transform;
  transition: 0.35s ease;
}
.theory::after {
  content: '';
  border-top: 4px solid #fff;
  border-radius: 1px;
  width: 100%;
  position: absolute;
  display: block;
  transform: rotateY(90deg);
  transition-property: transform;
  transition: 0.25s linear;
}
.theory:hover {
  transform: scale(1.15);
  cursor: pointer;
}
.theory:hover::after {
  transform: rotate(0deg);
}
.theory {
  transform-origin: left 50%;
}
.theory::after {
  transform-origin: left 2px;
}


.gradient-border {
  --borderWidth: 2px;
  /* background: #1D1F20; */
  /* position: relative; */
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@-webkit-keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/**
 * code syntax
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  background-color: ##080707;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  overflow: initial;
  border: none;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}
.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em; /* 3 */
}

