.title {
    /* font-family: 'Press Start 2P'; */
    /* font-family: 'I pixel U'; */
    font-family: 'Audiowide';
    /* font-family:'Libre Baskerville'; */
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    -webkit-text-stroke: 3px #F2F2F2;
    position: fixed;
    top: 0rem;
    padding: 2rem;
    background-color: #080707;
    border-bottom: 0.2rem solid #F2F2F2;

    z-index: 998;
    width: 80%;
    text-transform: lowercase;
    color: #080707;
    font-size: 3.5vw;
    letter-spacing: 1.2vw;
    font-weight: 900;
    text-shadow: 0 1px 0 #080707, -1px -1px 0 #080707, /*main 3d shadow*/ -1px 0px 0 #080707, -2px 1px 0 #080707, -3px 2px 0 #080707, -4px 3px 0 #080707, -5px 4px 0 #080707, -6px 5px 0 #080707, -7px 6px 0 #080707, -8px 7px 0 #080707, -9px 8px 0 #080707, -10px 9px 0 #080707, -11px 10px 0 #080707, -12px 11px 0 #080707, -13px 12px 0 #080707, -14px 13px 0 #080707, -15px 14px 0 #080707, -16px 15px 0 #080707, /*top right*/ 0 -1px 1px #F2F2F2, 0 -2px 0px #F2F2F2, /*bottom left corner*/ -15px 14px 0px #F2F2F2, -16px 15px 0px #F2F2F2, -17px 16px 0px #F2F2F2, -18px 17px 0px #F2F2F2, -2px -1px 0 #F2F2F2, -3px 0px 0 #F2F2F2, /*top left corner*/ -19px 15px 0 #F2F2F2, -18px 14px 0 #F2F2F2, -17px 13px 0 #F2F2F2, -16px 12px 0 #F2F2F2, -15px 11px 0 #F2F2F2, -14px 10px 0 #F2F2F2, -13px 9px 0 #F2F2F2, -12px 8px 0 #F2F2F2, -11px 7px 0 #F2F2F2, -10px 6px 0 #F2F2F2, -9px 5px 0 #F2F2F2, -8px 4px 0 #F2F2F2, -7px 3px 0 #F2F2F2, -6px 2px 0 #F2F2F2, -5px 1px 0 #F2F2F2, -4px 0px 0 #F2F2F2, /*lower right / (upper right side for capital T like H etc letters. */ 0px 2px 0px #F2F2F2, -1px 3px 0px #F2F2F2, -2px 4px 0px #F2F2F2, -3px 5px 0px #F2F2F2, -4px 6px 0px #F2F2F2, -5px 7px 0px #F2F2F2, -6px 8px 0px #F2F2F2, -7px 9px 0px #F2F2F2, -8px 10px 0px #F2F2F2, -9px 11px 0px #F2F2F2, -10px 12px 0px #F2F2F2, -11px 13px 0px #F2F2F2, -12px 14px 0px #F2F2F2, -13px 15px 0px #F2F2F2, -14px 16px 0px #F2F2F2, -15px 17px 0px #F2F2F2;
}

.title:hover {
  padding-right: 2.3rem;
  cursor: pointer;
  color: #000000;
    text-shadow: 0 1px 0 #000000, -1px -1px 0 #000000, /*main 3d shadow*/ -1px 0px 0 #000000, -2px 1px 0 #000000, -3px 2px 0 #000000, -4px 3px 0 #000000, -5px 4px 0 #000000, -6px 5px 0 #000000, -7px 6px 0 #000000, -8px 7px 0 #000000, -9px 8px 0 #000000, -10px 9px 0 #000000, -11px 10px 0 #000000, -12px 11px 0 #000000, -13px 12px 0 #000000, -14px 13px 0 #000000, -15px 14px 0 #000000, -16px 15px 0 #000000, /*top right*/ 0 -1px 1px #FFFFFF, 0 -2px 0px #FFFFFF, /*bottom left corner*/ -15px 14px 0px #FFFFFF, -16px 15px 0px #FFFFFF, -17px 16px 0px #FFFFFF, -18px 17px 0px #FFFFFF, -2px -1px 0 #FFFFFF, -3px 0px 0 #FFFFFF, /*top left corner*/ -19px 15px 0 #FFFFFF, -18px 14px 0 #FFFFFF, -17px 13px 0 #FFFFFF, -16px 12px 0 #FFFFFF, -15px 11px 0 #FFFFFF, -14px 10px 0 #FFFFFF, -13px 9px 0 #FFFFFF, -12px 8px 0 #FFFFFF, -11px 7px 0 #FFFFFF, -10px 6px 0 #FFFFFF, -9px 5px 0 #FFFFFF, -8px 4px 0 #FFFFFF, -7px 3px 0 #FFFFFF, -6px 2px 0 #FFFFFF, -5px 1px 0 #FFFFFF, -4px 0px 0 #FFFFFF, /*lower right / (upper right side for capital T like H etc letters. */ 0px 2px 0px #FFFFFF, -1px 3px 0px #FFFFFF, -2px 4px 0px #FFFFFF, -3px 5px 0px #FFFFFF, -4px 6px 0px #FFFFFF, -5px 7px 0px #FFFFFF, -6px 8px 0px #FFFFFF, -7px 9px 0px #FFFFFF, -8px 10px 0px #FFFFFF, -9px 11px 0px #FFFFFF, -10px 12px 0px #FFFFFF, -11px 13px 0px #FFFFFF, -12px 14px 0px #FFFFFF, -13px 15px 0px #FFFFFF, -14px 16px 0px #FFFFFF, -15px 17px 0px #FFFFFF;
    /* padding-top: 2.08rem; */
}


